@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav-links a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #00000060;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
nav a.active {
  color: white;
}

.nav-links li {
  list-style: none;
}
.nav-links {
  display: flex;
}
.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: #4c93b9;
  text-decoration-thickness: 5px;
}

body {
  margin: 0;
}
body,
html {
  height: 100%;
}

.background {
  background-image: url(images/galaxybg.jpg);
  background-position: center;
  background-size: 100% 100%;
  height: max-content;
}

.company-details {
  overflow: hidden;
  padding: 1em 1em;
  display: flex;
  justify-content: center;
  background: #e3f0f74c;
  text-align: center;
  margin-top: 5em;
}
.company-details span {
  color: white;
}

#footer #col1,
#footer #col2,
#footer #col3 {
  float: left;
  width: 320px;
  padding: 0px 40px 0px 40px;
}

#footer #icon {
  display: block;
  margin-bottom: 1em;
  font-size: 3em;
}

.copyright {
  overflow: hidden;
  padding: 3em 0em;
  border-top: 20px solid rgba(255, 255, 255, 0.08);
  text-align: center;
}

.copyright p {
  letter-spacing: 1px;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6);
}

.copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

ul.contact {
  margin: 0;
  padding: 2em 0em 0em 0em;
  list-style: none;
}

ul.contact li {
  display: inline-block;
  padding: 0em 0.1em;
  font-size: 1em;
}

ul.contact li .icon {
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.main_text {
  color: #ffffff;
  font-weight: bolder;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  font-size: larger;
}
.mainimg {
  width: 20%;
}

.about-us {
  height: 100%;
  padding: 90px 0;
}

.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
  color: white;
  text-align: center;
}
.text h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
